html {
	height: 100%;
	width: 100%;
	background: linear-gradient(#83b4ff, #fff476);
	font-family: 'Saira', cursive;
	font-size: 20px;
	color: #003599;
}

.red-font {
	color: red;
}

.left-column {
	float: left;
}

.grow:hover {
	transform: scale(1.1);
}

.right-column {
	float: right;
}

#nav {
	display: flex;
	justify-content: space-evenly;
}

#nav a {
	text-decoration: none;
	font-size: 30px;
	color: black;
}

#nav a:hover {
	text-decoration: underline;
	color: red;
}
